<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="https://softvelum.com/player/releases/sldp-v2.11.0.min.js"></script>
    <style type="text/css">

* {
  font-family: Bahnschrift;

}

textarea {
  font-size: 22px;
  font-family: Bahnschrift;
  float: top;
  float: right;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: auto;
}
input {

  position: relative;
  float: right;
  float: bottom;
}


#player {

  float: left;
  position: relative;
}

#rt {

  float: right;
  position: relative;
}

    </style>
  </head>
<body>
  <div id="rt">
      <textarea id="chat-log" rows=30 cols=36></textarea><br/>
      <input id="chat-message-nick" type="text"/><br/>
    <input id="chat-message-input" type="text"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</div>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<video id="video" width='1280' height="720" controls></video>
<script>
  if(Hls.isSupported()) {
    var video = document.getElementById('video');
    var hls = new Hls();
    hls.loadSource('http://46.188.104.83:81/hls/test.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video.play();
  });
 }
</script>
<audio controls autoplay id="myaudio"><source src="http://noeight.net:888/top7.ogg" type="application/ogg" /></audio>

<script>
  var audio = document.getElementById("myaudio");
  audio.volume = 0.3;
</script>

<p id="radioadmin"></p>
<p id="radioartist"></p>
<p id="radiosong"></p>

<script>

var myRadioadmin = document.getElementById("radioadmin");
var myRadioartist = document.getElementById("radioartist");
var myRadiosong = document.getElementById("radiosong");
var myRadioartistPr = ''
var myRadiosongPr = '' 


setInterval(function() {
fetch('http://noeight.net:888/status-json.xsl')
.then((resp) => resp.json())
.then(function(json) {
  var stats = json.icestats
  var radio = stats.source


  if (radio.title != myRadiosongPr) {
    myRadiosong.innerHTML = radio.title;
    myRadiosongPr = radio.title;
    
  }

  if (radio.artist != myRadioartistPr) {
    myRadioartist.innerHTML = radio.artist;
    myRadioartistPr = radio.artist;
    
  }


    myRadioadmin.innerHTML = '';
    
    
    })  
}, 100);

var roomName = "lobby";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
        var textarea = document.querySelector("#chat-log");
        textarea.scrollTop = textarea.scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var nick = document.querySelector('#chat-message-nick');
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = nick.value + ': ' + messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        
        messageInputDom.value = '';

    };
  </script>

</body>
</html>