<!DOCTYPE html>
<html>
<head>
  <title>snake</title>
  <link rel="stylesheet" href="/static/home/styles.css">
  <link rel="shortcut icon" href="/static/polls/favicon.ico.png"/>
</head>
<body>
  <canvas id="cv" width="600" height="600"></canvas>
</body>

<script type="text/javascript">
	const backgroundColor = '#000';
	const snakeColor = '#ffedfe';
	const appleColor = '#c46ec0';

	window.onload = function() 
	{
		var game = new Game(20);
		document.addEventListener('keydown', function(event){
			game.keypush(event);
		});
		setInterval(function(){
			game.cycle(); 
		},1000/15);
	}


	class Object
	{
		constructor(x, y, size, color)
		{
			this.x = x;
			this.y = y;
			this.size = size;
			this.color = color;
		}

		draw(context)
		{
			context.fillStyle = this.color;
			context.fillRect(this.x, this.y, this.size, this.size);
		}

		update(context)
		{
			this.draw(context);
		}

		isCollised(another)
		{
			return this.x + this.size > another.x && this.y + this.size > another.y && this.x < another.x + another.size && this.y < another.y + another.size
		}
	}

	class Snake extends Object
	{
		constructor(x, y, size)
		{
			super(x, y, size, snakeColor);
			this.isAlive = true;
			this.velocityX = 0;
			this.velocityY = 0;
			this.parts = [new SnakePart(x, y, size)]
		}

		setVelocity(x, y)
		{
			this.velocityX = x;
			this.velocityY = y;
		}

		incressLenght()
		{
			this.parts.push(new SnakePart(this.x, this.y, this.size));
		}

		move(fieldWidth, fieldHeight)
		{
			this.x += this.velocityX;
			this.y += this.velocityY;
			if (this.x < 0)
				this.x = fieldWidth - this.size;
			if (this.y < 0)
				this.y = fieldHeight - this.size;
			if (this.x + this.size > fieldWidth)
				this.x = 0;
			if (this.y + this.size > fieldHeight)
				this.y = 0;

			this.parts[0].setNextPosition(this.x, this.y);
			for (var i=1; i < this.parts.length; i++)
			{
				this.parts[i].setNextPosition(this.parts[i-1].x, this.parts[i-1].y);
			}
		}

		update(context, fieldWidth, fieldHeight)
		{
			this.move(fieldWidth, fieldHeight);
			for (var i=1; i < this.parts.length; i++)
			{
				if (this.isCollised(this.parts[i])) this.isAlive = false;
			}
			for (var i in this.parts)
			{
				this.parts[i].update(context);
			}
		}
	}

	class SnakePart extends Object
	{
		constructor(x, y, size)
		{
			super(x, y, size, snakeColor);
			this.nextX = 0;
			this.nextY = 0;
		}

		setNextPosition(x, y)
		{
			this.nextX = x;
			this.nextY = y;
		}

		move()
		{
			this.x = this.nextX;
			this.y = this.nextY;
		}

		update(context)
		{
			this.move();
			super.update(context);
		}
	}

	class Apple extends Object
	{
		constructor(x, y, size)
		{
			super(x, y, size, appleColor);
		}

		static atRandomPlace(fieldWidth, fieldHeight, size)
		{
			var x = ((Math.random()*1000).toFixed() % (fieldWidth / size)) * size;
			var y = ((Math.random()*1000).toFixed() % (fieldHeight / size)) * size;
			return new Apple(x, y, size);
		}
	}


	const GameState = 
	{
		'pause': 1,
		'game': 2,
		'death':3,
		'start':4
	}

	class Game
	{
		constructor(dimension)
		{
			this.canv = document.getElementById('cv');
			this.context = this.canv.getContext('2d');

			this.dimension = dimension;
			this.applesAmount = 2;
			this.score = 0;
			this.pastScore = 0;
			this.gameState = null;

			this.cellSize = this.canv.width / this.dimension;
			this.fieldWidth = this.canv.width;
			this.fieldHeight = this.canv.height;

			this.snake = null;

			this.apples = [];

			this.restart();
			this.gameState = GameState.start;
		}

		cycle()
		{
			this.clearContext();

			switch(this.gameState)
			{
				case GameState.start:
					this.inStart();
				break;

				case GameState.pause:
					this.inPause();
				break;

				case GameState.game:
					this.inGame();
				break;

				case GameState.death:
					this.inDeath();
				break;
			}
		}

		inGame()
		{
			for (var i in this.apples)
			{
				if (this.snake.isCollised(this.apples[i]))
				{
					this.apples[i] = Apple.atRandomPlace(this.fieldWidth, this.fieldHeight, this.cellSize);
					this.snake.incressLenght();
					this.score += 1;
				}
				this.apples[i].update(this.context);
			}

			this.snake.update(this.context, this.fieldWidth, this.fieldHeight)

			if (!this.snake.isAlive)
			{
				this.restart();
				this.gameState = GameState.death;
			}
		}

		printText(header, color, text, fontSize)
		{
			var lines = text.split('\n');
			var headerFontSize = fontSize;
			var textFontSize = fontSize * 0.666;
			var spaceBetweenTexts = headerFontSize - textFontSize;
			var allTextHeight = headerFontSize + spaceBetweenTexts + textFontSize*lines.length;
			var textTopMargin = (this.fieldHeight - allTextHeight) / 2;

			this.context.font = headerFontSize + 'px Areal';
			this.context.textAlign = 'center';
			this.context.fillStyle = color;
			this.context.fillText(header, this.fieldWidth/2, textTopMargin);
			this.context.font = (textFontSize) + 'px Areal';

			for (var i=0; i<lines.length; i++)
			{
				this.context.fillText(lines[i], this.fieldWidth/2, textTopMargin + headerFontSize + spaceBetweenTexts + (textFontSize*i));
			}
		}

		inPause()
		{
			this.printText('Paused', snakeColor, 'press "Escape" to unpause', 37);
		}

		inDeath()
		{
			this.printText('Lol you died', appleColor, `press "R" to restart\nscore: ${this.pastScore}`, 37);
		}

		inStart()
		{
			this.printText('Snake game', snakeColor, 'Arrows - movement\nEscape - pause\nR - restart', 37);
		}

		restart()
		{
			this.snake = new Snake(this.fieldWidth/2, this.fieldHeight/2, this.fieldWidth/this.dimension);

			this.apples = [];
			for (var i = 0; i < this.applesAmount; i++)
			{
				this.apples.push(Apple.atRandomPlace(this.fieldWidth, this.fieldHeight, this.cellSize));
			}

			this.pastScore = this.score;
			this.score = 0;
			this.gameState = GameState.game;
		}

		clearContext()
		{
			this.context.fillStyle = backgroundColor;
			this.context.fillRect(0, 0, this.canv.width, this.canv.height);
		}

		keypush(evt)
		{
			switch(evt.code)
			{
				case 'Escape':
					if (this.gameState == GameState.pause)
						this.gameState = GameState.game;
					else
						this.gameState = GameState.pause;
					break;

				case 'KeyR':
					this.restart();
					break;

				case 'ArrowLeft':
					this.snake.setVelocity(-this.cellSize, 0)
					break;

				case 'ArrowUp':
					this.snake.setVelocity(0, -this.cellSize)
					break;

				case 'ArrowRight':
					this.snake.setVelocity(this.cellSize, 0)
					break;

				case 'ArrowDown':
					this.snake.setVelocity(0, this.cellSize)
					break;
			}
		}
	}
</script>
