<!DOCTYPE html>
<html>
<head>
  <title>snake</title>
  <link rel="stylesheet" href="/static/home/styles.css">
  <link rel="shortcut icon" href="/static/polls/favicon.ico.png"/>
</head>
<body>

<div style="position: absolute; font-size: 16px">
  <p id='play'>
  
  </p>
</div>

<script type="text/javascript">

function render () {
var html = []
snake_field.map(function(item) {
     html.push('<p style=color:green>'+item+'</p>');
})

html.push('<p style=font-size:16px>'+snake+'</p>')

html.push('<p style=font-size:16px>'+iteration+'</p>')
document.getElementById('play').innerHTML = html.join('');


document.addEventListener('keydown', (event) => {
  const KeyName = event.key;
})
}

var raw = 18
var column = 26
var iteration = 1

function create_field (raw, column) {
  return Array(raw).fill(null).map(() => Array(column).fill('.'))
}

/* snake = head coordinates + direction node(s) 1 for right top 2 left 3 or bottom 4 */

terrain_field = create_field (raw, column)
snake_field = create_field (raw, column)
var snake = [[15,18],4,4,2,4,2,4,4,4,1,4]
var head = snake[0]
var snake_next = snake.slice()

var remap = function (x, y) {

    if (x<0) {
      x = raw-1
    }

    if (y<0) {
      y = column-1
    }

    if (x==raw) {
      x = 0
    }

    if (y==column) {
      y = 0
    }
    return [x,y]
}

var snake_tail = function (body_point, int) {

  var x = body_point[0]
  var y = body_point[1]

/*draw right*/
  if (int==1){
    y += 1
  } 
/*draw left*/
  if (int==2){
    y -= 1
  }   
/*draw up*/
  if (int==3){
    x -= 1
  } 
/*draw down*/
  if (int==4){
    x += 1
  } 

  mapped = remap(x,y)

  return mapped
}

function snake_map () {
  // playground = create_field (raw, column)
  snake.map(function(item, n){
  var head = snake[0]

  if (n == 0) {

    snake_field[head[0]][head[1]] = 'S'
    body_point = head
  } else {

    var tail = snake_tail(body_point, item)
    snake_field[tail[0]][tail[1]] = 'n'
    body_point = tail

  }

})

}

/*var orange = []
orange[0] = Math.floor(Math.random() * 18);
orange[1] = Math.floor(Math.random() * 26);
playground[orange[0]][orange[1]] = '8'*/

/*
setInterval(function() {
it = 0
playground.map(function(item, column, v) {
  column = column
    item.map(function(item, raw, v) {
      var node = [column,raw]
      /*playground[column][raw] = ','
      if (node = snake[0]) {
          playground[node[0]][node[1]] = 'S'
      }

    })
})
}, 4);*/

snake_map();
render();

// function snake_move(snake, direction) {

//   if (direction=='right') {
//     snake[0][1] +=1
//     snake.splice(1, 0, 2)
//   }

//   if (direction=='left') {
//     snake[0][1] -=1
//     snake.splice(1, 0, 1)
//   }

//   if (direction=='top') {
//     snake[0][0] -=1
//     snake.splice(1, 0, 4)
//   }

//   if (direction=='down') {
//     snake[0][0] +=1
//     snake.splice(1, 0, 3)
//   }

// snake.pop()
// snake[0] = remap(snake[0][0],snake[0][1])
// return snake

// }


// function game_over (snake_layer) {

// }

// function move() {
//   iteration += 1
//   var moves = ['top','right']
//    // var moves = ['down','top','right', 'left']
//   var move = moves[Math.floor(Math.random() * 2)]
//   snake_move(snake, move)
//   snake_map()

// }

// setInterval(move,512)
// setInterval(render,512)
</script>

</body>
</html>