<!DOCTYPE html>
<html>
<head>
	<title>top site</title>
	<link rel="stylesheet" href="static/home/styles.css">
  <link rel="shortcut icon" href="/static/polls/favicon.ico.png"/>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <header>
    <h1>Welcome</h1>
      <nav>
      	<ol>
      		<li><a href="/polls" class="green_8">PL</a></li>
      		<li><a href="/topr" class="green_8">R</a></li>
      		<li><a href="/toptv" class="green_8">TV</a></li>
      		<li><a href="/topwg" class="green_8">G</a></li>
      		<li><a href="/topwa" class="green_8">WA</a></li>
          <li><a href="/topfeed" class="green_8">F</a></li>
          <li><a href="">7</a></li>
      	</ol>
      </nav>
    </header>
    <div id="content">
      <article>
      	<h2 class="green_dot">lorem ipsum</h2>
      	<h3 class="green_8">lorem ipsum</h3>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
  	  <article>
        <h2 class="green_dot">Ut enim ad</h2>
      	<h3 class="green_8">Ut enim ad</h3>
      	<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </article>
<p>
</br></br></br>
  tw: <span id="subs">??</span>, <span id="views">??</span>, <span id="status">??</span>.
</p>
       
    </div>
    <aside>
    	<figure>
    		<img src="static/home/dummy.png" alt="dummy picture">
    		<figcaption class="green_8">Duis aute irure</figcaption>
    	</figure>
    	<h2 class="green_dot">Duis aute irure</h2>
    	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </aside>

    <footer class="green_dot">
    	2018 
    </footer>
  </div>
<div>


</div>

<script type="text/javascript">

var subshm = document.getElementById("subs");
var viewshm = document.getElementById("views");
var statushm = document.getElementById("status");
var subsPr = ''
var viewsPr = ''
var statusPr = '??'

setInterval(function() {
fetch('/tw/api/twitchstat/1/?format=json')
.then((resp) => resp.json())
.then(function(json) {

  var subs = json.subs
  var views = json.views
  var status = json.status



  if (subs != subsPr) {
    subshm.innerHTML = subs;
    subsPr = subs;
    
  }

  if (views != viewsPr) {
    viewshm.innerHTML = views;
    viewsPr = views;
    
  }

    if (status != statusPr) 
          if (status) {
      status = 'on'
      statushm.className="green_8"
    } else {
      status = 'off'
      statushm.className=""
    }
    {
    statushm.innerHTML = status;
    statusPr = status;
    
  }
    
    })  
}, 1024);

</script>


</body>
</html>