<!DOCTYPE html>
<html>
<head>
  <title>twitch app</title>
  <link rel="stylesheet" href="/static/home/styles.css">
  <link rel="shortcut icon" href="/static/polls/favicon.ico.png"/>
</head>
<body>
<div style="overflow-wrap: break-word;">
<p>
Subs: <span id="subs">??</span>
</p>
<p>
Views: <span id="views">??</span>
</p>
<p>	
Status: <span id="status">??</span>
</p> 
<p id="viewers">	
Viewers: <mark class="green_8">??</mark>
</p>



</div style="display: flex; height: 300px; overflow-wrap: break-word;">
<div id="list">
</div>

<script type="text/javascript">

var subshm = document.getElementById("subs");
var viewshm = document.getElementById("views");
var statushm = document.getElementById("status");
var subsPr = ''
var viewsPr = ''
var statusPr = '??'

setInterval(function() {
fetch('http://noeight.net/tw/api/twitchstat/1/?format=json')
.then((resp) => resp.json())
.then(function(json) {

  var subs = json.subs
  var views = json.views
  var status = json.status



  if (subs != subsPr) {
    subshm.innerHTML = subs;
    subsPr = subs;
    
  }

  if (views != viewsPr) {
    viewshm.innerHTML = views;
    viewsPr = views;
    
  }

    if (status != statusPr) 
    	  	if (status) {
  		status = 'on'
  		statushm.className="green_8"
  	} else {
  		status = 'off'
  		statushm.className=""
  	}
    {
    statushm.innerHTML = status;
    statusPr = status;
    
  }
    
    })  
}, 128);

/*
setInterval(function() {
color = Math.floor(Math.random() * 16777215);
color  = color.toString(16);
it += 1
subs.innerHTML = '<span style="color:#' + color + '">++++++++++++#'+color+'</span>'
views.innerHTML = it
status.innerHTML = 'on'
subs.style.property = 'color:#' + color
var html = [];
var len = Math.floor(Math.random() * 32);
for (var i = 0; i < len; i++) {
  html.push('<div>Test ' + i + '</div>');
}

document.getElementById('list').innerHTML = html.join('');
    
}, 800);
*/


</script>

</body>
</html>