<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
</head>
<style type="text/css">
p {
  margin: 2px;
}
    body {
        background-color: powderblue;
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 150%;
}
    audio { 
   display:none;
}
.vcmsg { 
  color: fuchsia;
}

</style>
<body>
  <audio controls id='vmplayer'>
  <source src="" id='vmsrc'>
Your browser does not support the audio element.
</audio>
<div id='text'></div>
  <input id="user-name-input" type="text" size="20" maxlength="20"/><br/>
 <textarea id="user-message-input" type="text" cols="60" rows="6" maxlength="256"/></textarea>
 <input id="user-message-submit" type="button" value="Send"/>
<script type="text/javascript">

    document.querySelector('#user-name-input').focus();
    document.querySelector('#user-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#user-message-submit').click();
        }
    };


var ws = new WebSocket(
        'wss://' + window.location.host +
        '/ws/vcmsg/')
ws.onmessage = function (event) {
    console.log(event.data)
    var msg = JSON.parse(event.data);
    var element = document.getElementById("text");
    var node = document.createElement("p");
    var audio = document.getElementById('vmplayer');
    var source = document.getElementById('vmsrc');

    switch(msg.type) {

        case "voice_message":
            var textnode = document.createTextNode(msg.name+': '+msg.message[0]+' ');
            node.addEventListener('click', function(){
                Array.prototype.forEach.call(document.getElementsByClassName('vcmsg'), function(el) {
                        el.className=''
                    });
                node.className='vcmsg'
                source.src = msg.message[1];
                audio.load();
                audio.play();
                audio.onended = function() {
                    node.className=''
                };
            });
            break

        case "skip":
            var textnode = document.createTextNode('skip'+' ');    
            break
        case "greet":
            var textnode = document.createTextNode(msg['message']+' ');    

        }
        node.appendChild(textnode);                             
        element.appendChild(node);
        node.scrollIntoView();
};

document.querySelector('#user-message-submit').onclick = function(e) {
    var messageInputDom = document.querySelector('#user-message-input');
    var message = messageInputDom.value;
    var name = document.querySelector('#user-name-input').value;

    ws.send(JSON.stringify({
        'vcm': message, 'name': name,
    }));

    messageInputDom.value = '';
};


</script>
</body>
</html>