<html>
<head>

<title>Top in the world</title>
<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>

<body>
<H1>SunraYLmtd 🍋🍋🍊🥕🥕</H1>

<p>
<H1><a href="/admin">admin</a></h1>
</p>

<h2>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li ><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</h2>

<p>
<H3><a href="https://www.youtube.com/channel/UCZu-JP1plc5VlBQ1d-eG7cQ">YouTube</a>
<a href="https://www.twitch.tv/sunraylmtd">Twitch</a>
<a href="https://www.instagram.com/sunraylmtd/">instagram</a>
<a href="http://steamcommunity.com/profiles/76561197986015735">Steam</a>
</p>

</body>
</html>


