
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}" />
<title>blog</title>

</head>
<body>

		<p>
				<picture>
					<img src="/media/3.jpg" style="width:96%; height: :96%;">
				</picture>
			</p>
			
			<p>
					<picture>
						<img src="/media/2.jpg" style="width:96%; height: :96%;">
					</picture>
				</p>
				
							
<p>
	<picture>
		<img src="/media/1.jpg" style="width:96%; height: :96%;">
	</picture>
</p>



</body>
</html>

