@import url('https://fonts.googleapis.com/css?family=Share Tech Mono');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@font-face {
    font-family:'Share Tech Mono';
    font-style: normal;

}

@font-face {
    font-family: 'Anonymous Pro', monospace;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';++
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
